/* BootStrap Overrides */

/* --------------------
-----Body Wide CSS-----
-------------------- */

body {
  margin: 8px;
}

.slide-container {
  display: none;
}

#stories,
.slide-container {
  background-color: #f6f6ef;
}

#submit:active,
#submit:focus,
#favorites:active,
#favorites:focus {
  text-decoration: none;
}

/* --------------------
-----Navbar CSS-----
-------------------- */

.navbar a,
.navbar a:hover {
  color: #000000;
}

.navbar {
  background-color: #e95420;
  border-color: #d34615;
}

.navbar {
  margin-bottom: 0;
}

/* --------------------
-----Story CSS---------
-------------------- */

.form-horizontal {
  padding: 20px 0;
}

#stories > li {
  color: #828282;
  padding: 5px 0;
}

#submit:hover,
#favorites:hover {
  text-decoration: underline;
}

#stories > li > a,
#stories > li > a:hover {
  color: #000000;
  text-decoration: none;
}

small {
  margin-left: 3px;
}

#stories > li > small:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hide-numbers {
  list-style: none;
}

.glyphicon:hover,
.badge:hover {
  cursor: pointer;
}
